---
name: Build

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - master
  schedule:
    - cron:  '30 13 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      matrix:
        os:
          - ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Build
      shell: bash
      run: |
        function log
        {
            declare -rAi TAG=(
                [error]=31
                [info]=32
                [audit]=33
            )
            printf '%(%y-%m-%d_%T)T\x1b[%dm\t%s:\t%b\x1b[0m\n' -1 "${TAG[${1,,:?}]}" "${1^^}" "${2:?}" 1>&2
            if [[ ${1} == 'error' ]]; then
                return 1
            fi
        }
        export -f log
        if [[ ${RUNNER_OS} == "Linux" ]]; then
            git submodule update --init --recursive
            sudo apt-get update
            sudo apt-get install -y xorg dbus-*dev fluid jam
            for item in "edelib" "."; do
                pushd "${item}" || return 1
                log 'info' "Build ${PWD}"
                bash autogen.sh
                bash configure
                jam
                # sudo jam install
                popd
            done;
        fi > /dev/null
